@model WardrobeMVCProject.Models.Color

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h4>Color</h4>
<hr />
@Html.DisplayNameFor(model => model.ColorName): @Html.DisplayFor(model => model.ColorName)

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ColorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
